@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

$color:(
    primary: #009bfe, // rgba(0, 155, 254, 1)
    secondary: #0079fe // rgba(0, 121, 254, 1)
);
@function color($colorName){
    @return map-get($map: $color, $key: $colorName )
};

@font-face{
    src: url(../fonts/DandeleonVintageDemo.otf);
    font-family: dandel;
}
html{
    font-size: 12px;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;  
    text-decoration: none;
}
a, a:hover, a:visited, a:focus{
    text-decoration: none;
    color: inherit;
}